/* "Base" stylesheet for common elements among all pages */
/* Colors based on palette from http://colorpalettes.net/color-palette-2323/ */

/* 	==========================================================================
	Variable parameters
	========================================================================== */

	:root {

		/* Color parameters */
		--margin-fill: 		#464e5d; /* Fill for margin padding around site page */
		--body-fill:		#FFFFFF; /* Main body color */
		--utils-fill:		#141514; /* Fill for "utilites" (navbar, footer) */
		--utils-alt:		#2c2c2d; /* Alternate fill for utilities */
		--table-alt-fill:	#d1d1d1; /* Alternate fill for tables */

		/* Font/type parameters */
		--font-main:		Arial,Helvetica Neue,Helvetica,sans-serif;
		--utils-text-color:	#FFFFFF;
	}	

/* 	==========================================================================
	Style changes for ALL tags
	========================================================================== */

	html {
		background-color: grey;
		background-color: var(--margin-fill);
	}

	body {
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		font-family: var(--font-main);
		margin: 1% 1%;
	}

	table {
		border-collapse: collapse;
		border: 1px solid black;
	}

	td {
		padding: 5px;
		vertical-align: middle;
	}

	th {
		padding: 5px;
		color: white;
		color: var(--utils-text-color);
		background-color: black;
		background-color: var(--utils-fill);
		border-bottom: 1px solid black;
	}

/* 	==========================================================================
	Style IDs
	========================================================================== */

	/* Navbar styling (using table formatting)
	========================================================================== */
   
	/* Footer style */
   
	#footer {
		border-right: 2px solid black;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
		border-collapse: collapse;
		background-color: black;
		background-color: var(--utils-fill);
		font-size: 12px;
		font-size: calc(5px + 0.8vw);
		width: 100%;
		color: white;
		color: var(--utils-text-color);
	}
	
	#footer tr {
		background-color: black;
		background-color: var(--utils-fill);
	}

	#footer p {
		margin: 1px 1px;
	}

	#footer td {
		border-right: none;
		border-left: none;
	}

	/* Navbar (header) style */
	
	#navbar {
		border-top: 2px solid black;
		border-right: 2px solid black;
		border-left: 2px solid black;
		text-align: center;
		font-size: 12px;
		font-size: calc(5px + 0.8vw);
		font-family: 'Open Sans', sans-serif;
		width: 100%;
		color: white;
		color: var(--utils-text-color);
	}

	#navbar td {
		margin: 0px 0px;
		padding: 0px 0px;
	}

	#navbar a:link,
	#navbar a:visited {
		color: white;
		color: var(--utils-text-color);
		text-decoration:none;
	}
	
	#navbar a:hover {
		color: white;
		color: var(--utils-text-color);
		text-decoration: underline;
	}

	/* Banners
	========================================================================== */

	/* Banners are saved in GIF format at a resolution of 3840x384 for ultrawide displays */

	#banner { 
		border-top: none;
		border-bottom: none;
		border-right: 2px solid black;
		border-left: 2px solid black;
		background-image: url("img/banner.gif");
		background-color: white;
		background-color: var(--body-fill);
		background-position: left; 
		height: 384px;
		line-height: 384px;
		text-align: center;
	}

	#banner-alt {
		border-top: none;
		border-bottom: none;
		border-right: 2px solid black;
		border-left: 2px solid black;
		background-image: url("img/banner-alt.gif");
		background-color: white;
		background-color: var(--body-fill);
		background-position: left; 
		height: 384px;
		line-height: 384px;
		text-align: center;
	}

	#banner-title {
		display: inline-block;
		color: white;
		text-align: center;
		vertical-align: middle;
		font-size: 48px;
		font-size: 10vw;
	}

	/* Utility rules
	========================================================================== */

	/* For elements that should only be displayed when the stylesheet is turned off */
	
	#invisible {
		display: none;
	}

/* 	==========================================================================
	Style classes
	========================================================================== */

	.article-nav-frame { text-align: center; }

	.article-nav {
		display: inline-block;
		text-align: center;
		width: 20%;
	}

	.page-body {
		border-top: none;
		border-bottom: none;
		border-right: 2px solid black;
		border-left: 2px solid black;
		padding: 1% 1%;
		background-color: white;
		background-color: var(--body-fill);
	}

	.nav-title {
		width:14.3%;
		background-color: black;
		background-color: var(--utils-alt);
	}

	.nav-object {
		width:14.3%;
		background-color: black;
		background-color: var(--utils-fill);
	}

	.footer-sub-left {
		text-align: left;
		width: 50%;
	}

	.footer-sub-right {
		vertical-align: middle;
		text-align: right;
		width: 50%;
	}

	.footer-img {
		display: inline-block;
		height: 1em;
	}

	/* Standard table styling */
	
	.tr_std_alt {
		background-color: #DDDDDD;
		background-color: var(--table-alt-fill);
	}

	.td_right_border {
		border-right: 1px solid black;
	}

	/* Message boxes */
	
	.errorbox {
		margin: 5px auto;
	}

	/* Standard form layout */

	.form_std_container {
		vertical-align: middle;
		margin: 0 auto;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 550px;
	}

	.form_std {
		width: 100%;
		margin: 0 0;
		text-align: center;
	}

	.form_std label {
		display: inline-block;
		text-align: right;
		margin: 5px;
		padding-left: 10px;
	}

	.form_std input {
		display: inline-block;
		text-align: center;
		margin: 5px;
	}

	.form_std span {
		display: inline-block;
	}

	/* Legacy selector styles */
	
	.legacy_switch {
		color: white;
		color: var(--utils-text-color);
	}
	
	.legacy_switch a:link,
	.legacy_switch a:visited {
		color: white;
		color: var(--utils-text-color);
		text-decoration:none;
	}
	
	.legacy_switch a:hover {
		color: white;
		color: var(--utils-text-color);
		text-decoration: underline;
	}

	.error{
		display: none;
		margin-left: 10px;
	}		

	.error_show{
		color: red;
		margin-left: 10px;
	}

	input.invalid, textarea.invalid {
		border: 2px solid red;
	}

	input.valid, textarea.valid {
		border: 2px solid green;
	}


